- unless current_user.messages.empty?
  .message-bar= link_to "You have #{ current_user.messages.size } unread messages.", messages_path 

- if @friends_offerings.empty?
  %div
    None of your friends have posted things to trade yet. Maybe you should 
    = link_to " invite your friends to join Swap Sweep", invite_path
- @friends_offerings.each do |offering|
  .offer-row
    .offer-thumb
      - if offering.thumb_url
        = link_to image_tag( offering.thumb_url, :border => 0), offering
      - else
        = link_to image_tag( 'blank_thumb.png', :border => 0), offering
    .offer-title-col
      %div= link_to offering.name, offering, :class => 'title-link'
      .row
        .lcol
          Posted By: 
        .rcol= offering.user.name
      .row
        .lcol
          Bidding Start Date:
        .rcol= format_date_time(offering.current_auction.created_at)
      .row
        .lcol
          Bids:
        .rcol= offering.current_auction.bids.size        
      %div{ :style => 'border-bottom:1px #d8d8d8 solid; margin-left:15px; margin-right:35px;height:5px;margin-bottom:10px;' }
        &nbsp;
      %div= truncate( offering.description, :length => 100, :ommission =>  "..." )
    .offer-control-col
      %div= link_to 'Bid on This', new_auction_bid_path( offering.current_auction ), :id => 'bid-on-this'
      %div{ :style => 'padding-top:5px;' }= link_to 'Watch This', '#', :id => 'watch-this'
:javascript
  $(document).ready( function() {
  fnAccountIndex();
  });

  