= form_for( @offering, :html => {:multipart => true}) do |f|
  = f.hidden_field :facebook_user_id
  = f.hidden_field :user_id
  .input-row
    .input-label
      = f.label :name, 'Title'
    .input-field
      = f.text_field :name
  .input-row
    .input-label
      Upload Photo
    .input-field
      = file_field_tag 'primary_photo'
  #add-photo-row.input-row
    .input-label
      &nbsp;
    .input-field
      = link_to 'Add More Photos', '#', :id => 'new-offer-add-photo'    
  #add-photo-input{ :style => 'display:none;' }
    &nbsp;
  .input-area
    .input-vertical-label
      = f.label :description, 'Description'
    %div
      = f.text_area :description, :style => 'width:100%;', :rows => 5
  .input-area
    .input-vertical-label
      = label_tag :descriptive_tags, "One or more space separated terms that describe this item."
    %div
      = text_field_tag :descriptive_tags, nil, :style => 'width:100%;'
  .input-area
    .input-vertical-label
      = label_tag :ask_tags, "One or more space separated terms describing what you are asking for in exchange for this item."
    %div
      = text_field_tag :ask_tags, nil, :style => 'width:100%;'

  .input-row
    .input-label
      &nbsp;
    .input-field
      = submit_tag 'Submit', :id => 'submit-button'
      = link_to 'Cancel', '/', :id => 'cancel-button' 
:javascript
  $(document).ready( function() {
    fnOfferingForm();  
  });