- @offerings.each do |offer|
  .offer-row
    .offer-thumb
      - if offer.thumb_url
        = link_to image_tag( offer.thumb_url, :border => 0), offer
      - else
        = link_to image_tag( 'blank_thumb.png', :border => 0), offer
    .offer-title-col
      %div= link_to offer.name, offer, :class => 'title-link'
      %div= "Created #{format_date(offer.created_at)}"
      - if offer.current_auction
        %div= "Bids: #{ offer.current_auction.bids.size }"
      - else
        %div= "Auction Closed"
    .offer-control-col
      .link-button-b= link_to 'Show Bids', '#', :class => 'title-link-b'
      .link-button-b= link_to 'Edit', '#', :class => 'title-link-b'
      .link-button-b= link_to 'Delete', {:action => 'xdestroy', :id => offer.id.to_s}, :class => 'title-link-b'