- @offerings.each do |offer|
  .offer-row
    .offer-thumb
      - if offer.thumb_url
        = image_tag offer.thumb_url
      - else
        = image_tag 'blank_thumb.png'
    .offer-title-col
      %div= link_to offer.name, offer, :class => 'title-link'
      %div= "Created #{offer.created.strftime( "%B %e, %Y" )}"
      - if offer.current_auction
        %div= "Bids: #{ offer.current_auction.bids.size }"
      - else
        %div= "Auction Closed"
    .offer-control-col
      %div
        = link_to image_tag('edit.png', :border => 0), '#'
      %div
        = link_to image_tag( 'delete.png', :border => 0), :action => 'xdestroy', :id => offer.id.to_s