= form_for( @bid, :as => 'post', :url => auction_bids_path, :html => {:multipart => true} ) do |f|
  = f.hidden_field :user_id
  = f.hidden_field :auction_id
  .offer-row
    .offer-thumb 
      - if @bid.auction.offering.thumb_url
        = link_to image_tag( @bid.auction.offering.thumb_url, :border => 0 ), @bid.auction.offering, :target => '_blank'
      - else
        = link_to image_tag( 'blank_thumb.png', :border => 0), @bid.auction.offering, :target => '_blank'
    .offer-title-col
      %div= link_to @bid.auction.offering.name, @bid.auction.offering, {:class => 'title-link', :target => '_blank' }
      .row
        .lcol
          Posted By:
        .rcol= @bid.auction.offering.user.name
      .row
        .lcol
          Bidding Start Date:
        .rcol=format_date_time(@bid.auction.offering.current_auction.created_at)
      %div{ :style => 'border-bottom:1px #d8d8d8 solid; margin-left:15px; margin-right:35px;height:5px;margin-bottom:10px;' }
        &nbsp;
      %div= truncate( @bid.auction.offering.description, :length => 100, :ommission => " ..." )

  .input-row{ :style => 'padding-top:10px;height:20px;' }
    %span.title
      Bid Description
  .input-row
    .input-label{ :style => 'width:60%;' }
      You may pick one or more of your items from drop down list to exchange for this.
    .input-field
      = select_tag 'offering', options_from_collection_for_select( Offering.by_user( current_user.id.to_s ), 'id', 'name' ), {:include_blank => true }
  #bid-offering-area    
    %span.title
      My Items Included in Bid 
    - current_user.offerings.each do |offering|
      .bid-offering-row{ :class => offering.id.to_s }
        .bid-offering-lcol= offering.name
        .bid-offering-rcol= link_to 'Remove', '#', :class => 'remove-button' 
          
  .input-row{ :style => 'height:120px;padding-top:10px;margin-top:5px;border-top: 1px solid #d8d8d8;' }
    Describe Details of Your Bid
    %div
      = f.text_area  :description, :cols => 70, :rows => 5
  .input-row
    .input-label
      = f.label :expiry, 'Expiration Date (Optional)' 
    .input-field
      = f.text_field :expiry
  .input-row
    .input-label
      &nbsp;
    .input-field
      = link_to 'Submit', '#',  :id => 'new-bid-submit'
      = link_to 'Cancel', '#',  :id => 'new-bid-cancel' 
:javascript
  $(document).ready( function() {
  fn_initialize_bids();
  });