#page-banner
  %div{ :style => 'float:left;font-size:20px;' }
    - if defined?( @page_title ) && @page_title
      = @page_title
    - else
      &nbsp;
  %div{ :style => 'float:right;margin-right:15px;' }
    %div{ :style => 'height:7px;' }
      &nbsp;
    - if logged_in?
      = "Welcome #{facebook_user['name']}"
      = link_to 'Log Out', '#', :id => 'logout' 
    - else
      = link_to 'Log In', '#', :id => 'login'  
    
#page-heading
  #heading-left
    - if logged_in? 
      = render  'layouts/menu'
  #heading-right
    = link_to 'Help', '#'