<!DOCTYPE html>
<html>
<head>
  <title>Swap Sweep</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="global-container">
    <div id="global-left-panel">
      <div>
        <%= image_tag 'logo.png', :border => 0 %>
      </div>
    </div>
    <div id="global-divider">
      &nbsp;
    </div>
    <div id="global-right-panel">
<%= yield %>
    </div>
  </div>

</body>
</html>
