!!! XML
!!!
%html
  %head
    %title Swap Sweep
    = stylesheet_link_tag :all 
    = csrf_meta_tag
    %script( type='text/javascript' src='http://connect.facebook.net/en_US/all.js' ) 
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' 
    = javascript_include_tag :defaults
    = render 'head'
%body
  #main-page
    = render 'layouts/heading' 
    = yield
#fb-root
:javascript
  fnFacebookInit();







